[Unit]
Description=Fluentd: Data collector for unified logging layer
Documentation=https://docs.fluentd.org/

[Service]
ExecStart=/usr/local/bin/fluentd -c /usr/local/share/ruby3.2-gems/gems/fluentd-1.18.0/fluent.conf
User=fluentd
Group=fluentd
Restart=always
LimitNOFILE=65536
PIDFile=/var/run/fluentd/fluentd.pid

[Install]
WantedBy=multi-user.target
