[Unit]
Description=Fluentd service
After=network.target

[Service]
ExecStart=/usr/local/bin/fluentd -c /usr/local/share/ruby3.2-gems/gems/fluentd-1.19.0/fluent.conf
User=root
Group=root
Restart=always
PIDFile=/var/run/fluentd/fluentd.pid

[Install]
WantedBy=multi-user.target

